*{
    margin: 0;
    padding: 0;
}


#gamebox{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
#userscore , #aiscore{
    color: rgb(255,255,255);
    font-size: 50px;
    position: absolute;
    top: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#userscore{
    left: 40%;
   
}
#aiscore{
    right: 40%;
}
.dashlineverticle{
border-left: 5px dashed white;
position: absolute;
top: 0;
left: 50%;
width: 15px;
height: 100%;
transform: translateX(-50%);
}

#userpaddle{
    width: 20px;
    background-color: white;
    height: 100px;
    position: absolute;
    left: 5px;
    border-radius: 10px;
    top:50%;
    transform: translateY(-50%);

}
#aipaddle{
    width: 20px;
    background-color:red;
    height: 100px;
    position: absolute;
    right: 5px;
    border-radius: 10px;
    top:50%;
    transform: translateY(-50%);

}
#ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    left: 50%;
    top: 50%;
   transform: translate(-50%,-50%);
    border-radius: 50%;
}





 










